/* Specific styles for Login page */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  padding: var(--space-lg) var(--section-px);
  text-align: center;
}

h1 {
  margin-bottom: var(--space-lg);
  color: var(--assent-color);
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  width: 100%;
  max-width: 400px;
  background-color: var(--neutral-color);
  padding: var(--space-lg);
  border-radius: var(--radius-md);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label {
  text-align: left;
  font-weight: bold;
  color: var(--text-color);
}

input {
  padding: var(--space-xs);
  border: 1px solid var(--primary-color);
  border-radius: var(--radius-sm);
  font-size: 1rem;
}

p {
  margin-top: var(--space-md);
}
